<!DOCTYPE html>
<html>
  <head>
    <title>Curriculum</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'load' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <%= javascript_include_tag  'freelancer.js' %>
  <%= javascript_include_tag  'contact_me.js' %>
  <%= javascript_include_tag  'jqBootstrapValidation.js' %>

</html>
